.Footer {
	/* background-color: white; */
	background-color: transparent;
	height: 80px;
	width: 650px;
	align-items: center;
	align-content: center;
	margin: auto;
	/* padding-left: 64px;
	padding-right: 64px; */
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	align-items: center;
	/* border-top-width: 2px;
	border-top-color: #23a6d5;
	border-top-style: solid; */
}

@media (max-width: 700px) {
	.Footer {
		width: 100%;
		padding-left: 16px;
		padding-right: 16px;
		text-align: center;
		font-size: 12px;
		display: flex;
	}
	.Footer > p {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}
